.item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.item + .item {
    margin-left: 40px;
}

.name {
    font-size: 22px;
    text-align: center;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orange;
    border: 2px solid #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.statusOnline {
    background-color: green;
}
